= stylesheet_link_tag "users"
%h1
  = t('.competitors_list')
  - @users.each do |user|
    .row-fluid.has_top_margin
      %a{ href: user_path(user) }
        .span2
          %img.img-polaroid{ src: user.avatar.thumb_fill }
        .span3
          .row-fluid
            %h4
              - if admin_signed_in?
                = user.title
              - else
                = user.small_name
          .row-fluid
            %h4= user.district.title
        .span3
          - if user.ratings.any?
            %table.table.table-striped
              - user.ratings.each do |rating|
                = rating.decorate.average_eval

