= stylesheet_link_tag    "admin/welcome"
%h4= t('.hello_admin')
%h3= t('.all_light_blue_buttons_are_admins_buttons')
%b= t('.you_can')
.row-fluid
  .span3
    = link_to t('.add_news'), new_admin_news_path, class: 'admin-action btn btn-large btn-info'
    = link_to t('.edit_news'), news_index_path, class: 'admin-action btn btn-large btn-info'
  .span3
    = link_to t('.edit_users_data'), users_path, class: 'admin-action btn btn-large btn-info'
    = link_to t('.complete_evaluation_of_participants'), admin_stages_path, class: 'admin-action btn btn-large btn-info'
  .span3
    = link_to t('.edit_blogs'), admin_blog_posts_path, class: 'admin-action btn btn-large btn-info'
  .span3
    = link_to t('sign_out'), admin_session_path, method: :delete, class: 'btn btn-large btn-danger'
- if @new_users.any?
  %h3= t('.new_users')
%table.table.table-stripped.table-hover.proposals
  - @new_users.each do |user|
    %tr{ onclick: "return location.href = '#{user_path(user)}'"}
      %td
        = image_tag user.avatar.mini_thumb_fill
      %td
        = user.title
      %td
        = user.school
