%h4= t('.hello_admin')
%b= t('.you_can')
%a.btn.btn-large{ href: "/news/new" }
  = t('.add_news')
%a.btn.btn-large{ href: users_path }
  = t('.edit_users_data')
%a.btn.btn-large{ href: blog_posts_path }
  = t('.edit_blogs')
%a.btn.btn-large{ href: new_user_path }
  = t('.add_user')
%p
  %a.btn{ href: logout_admins_path }
    = t('.sign_out')
