.well
  %h3
    = link_to participant_blog_posts_path(current_user) do
      = t('.my_blogs')
    = link_to t('.add_blog'), new_participant_blog_post_path(current_user), class: 'btn btn-primary'
  - @blogs.each do |blog|
    .well.link{ onclick: "return location.href = '#{participant_blog_post_path(blog)}'" }
      %a{ href: participant_blog_post_path(blog) }
        = image_tag blog.user.avatar.thumb
      %h4= blog.title
      %p
        != strip_tags blog.text.first(200)
        %b ...
      %small=l blog.created_at
  %br
