.well
  %h3
    = t('.my_blogs')
    = link_to t(".all_blog"), blog_posts_path(current_user), class: 'btn'
  - @blogs.each do |blog|
    .well.link{ onclick: "return location.href = '#{blog_path(blog)}'" }
      %a{ href: blog_post_path(blog) }
        = image_tag blog.photo.thumb, class: :main_photo_thumb
      %h4= blog.title
      %p
        != strip_tags blog.body.first(200)
        %b ...
      %small= blog.pusblished_at
  %br
  = link_to t(".add_blog"), new_blog_post_path(current_user), class: 'btn btn-success'
