= stylesheet_link_tag "participant/blog_posts"
%p#notice= notice
%p
  = link_to user_path(@blog_post.user) do
    = image_tag @blog_post.user.avatar.thumb
    %h3
      = @blog_post.user.decorate.small_name
%p
  %h2
    = @blog_post.title
%p
  %small= @blog_post.created_at.to_date
%p
  != @blog_post.text
%p
  = link_to t('edit'), edit_participant_blog_post_path(@blog_post), class: 'btn btn-warning'
  = link_to t('delete'), blog_post_path(@blog_post), method: :delete, class: "btn btn-danger"
  = link_to t('back'), blog_posts_path(@blog_post.user), class: "btn"
