= simple_form_for @blog_post do |f|
  - if @blog_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@blog_post.errors.count, "error")} prohibited this blog_post from being saved:"
      %ul
        - @blog_post.errors.full_messages.each do |msg|
          %li= msg
  - f.with_options :input_html => {:class => "span6"} do |f|
    = f.input :title, :placeholder => "Не больше 140 символов"
    = f.label :text
    = f.cktext_area :text
    %br
    .actions
      = f.submit 'Сохранить', :class => "btn"
