%p#notice= notice

%p
  %h3
    =@blog_post.user.small_name
%p
  %h2
    = @blog_post.title
%p
  %small= @blog_post.created_at.to_date
%p
  != @blog_post.text
  = link_to '<- #{t(".blog_posts")}', blog_posts_path, :class => "btn"
