= flash[:notice]
%br
- if session[:user_id].nil?
  = form_tag do
    login
    %br
    = text_field_tag :login, params[:login], :class => "span6"
    %br
    password
    %br
    = password_field_tag :password, params[:password], :class => "span6"
    %br
    = submit_tag 'Login'
  %a.btn.btn-large{:href => "/users/new"} Зарегистрироваться
- else
  - if @user.confirm
    = render 'office'
    - if @user.project.nil?
      %a.btn.btn-large.btn-success{:href => "../create_project"} Создать описание проекта |
    - else
      %a.btn.btn-large.btn-success{:href => "/projects/#{@user.project.id}/edit"} Изменить описание проекта |
  
    - if @user.report.nil?
      %a.btn.btn-large.btn-success{:href => "/create_report"} Создать отчёт о мероприятии |
    - else
      %a.btn.btn-large.btn-success{:href => "/reports/#{@user.report.id}/edit"} Изменить отчёт о мероприятии |
    %a.btn.btn-large.btn-success{:href => "users/#{@user.id}/edit"} Изменить аккаунт
  - else
    %h4 Ваша учётная запись будет вскоре подтверждена администратором конкурса!
    - if session[:admin_id]
      %a.btn{:href => "confirm_user"} Подтвердить участие
