= form_for @user, :url => 'logout' do |f|
  - if session[:user_id] == @user.id
    Здравствуйте,
    = @user.middle_name
    = f.submit 'Log out'
  = simple_form_for @user do |f|
    .row-fluid
      .span5
        %p
          %h2= @user.title
        %p
          %img.img-polaroid.big_img{:src => @user.avatar} 
        %p
          %b= f.label :district
          = @user.district.title if @user.district.present?
        %p
          %b= f.label :birth_date
          = @user.birth_date
        - unless @user.school.blank?
          %p
            %b= f.label :school
            = @user.school
        - unless @user.group.blank?
          %p
            %b= f.label :group
            = @user.group
        -unless @user.twitter.blank?
          %p
            %b= f.label :twitter
            %a{:href => "#{@user.twitter}"}
              = @user.twitter
      .span7
        - if @user.report
          %p
            %h3 Отчёт о мероприятии
          %p
            != strip_tags @user.report.description.first(200)
            %br
            %a.btn{:href => "/reports/#{@user.report.id}"} Читать далее
          %p
            -if @user.report.present?
              %a.btn.btn-large.btn-success{:href => "#{@user.report.archive}"} Скачать архив
            -else
              %span{:style => "color: #AAA;"}Архив не загружен
