- if session[:user_id].nil?
  = render 'page_404'
- else
  %p{:id => "notice"}
    = notice
  = form_for @user, :url => 'logout' do |f|
    Hello,
    = @user.title
    = f.submit 'Log out'

  = simple_form_for @user do |f|
    %p
      %b= f.label :avatar
      %img{:src => @user.avatar} 
    %p
      %b= f.label :district
      = @user.district_id
    %p
      %b= f.label :birth_date
      = @user.birth_date
    %p
      %b= f.label :school
      = @user.school
    %p
      %b= f.label :group
      = @user.group
    %p
      %b= f.label :twitter
      = @user.twitter
  - if @user.project.nil?
    %a{:href => "../create_project"} Создать описание проекта |
  - else
    %a{:href => "/projects/#{@user.project.id}/edit"} Изменить описание проекта |
  
  - if @user.report.nil?
    %a{:href => "/create_report"} Создать отчёт о мероприятии |
  - else
    %a{:href => "/reports/#{@user.report.id}/edit"} Изменить отчёт о мероприятии |
