= stylesheet_link_tag "users", :media => "all"
%h1
  Участники конкурса

  -@users.each do |user|
    .row-fluid.has_top_margin
      %a{:href => "users/#{user.id}"}
        .span3
          %img.img-polaroid{:src => user.avatar}
        .span3
          .row-fluid
            %h4= user.title
          .row-fluid
            %h4= user.district.title
          .row-fluid
            %h4 Дата рождения #{user.birth_date}
        .span3
          .row_fluid
            %h4= user.school
          .row-fluid
            %h4= user.group
        -if user.twitter
          .row-fluid
            %a{:href => user.twitter}
              .span1.logo.mini.twitter
        .span1
          - if !user.confirm
            %h6 Не подтверждён!
