.well
  %h4
    = link_to blog_posts_path do
      = t('.blogs')
  - @blogs.each do |blog|
    .well.link{ onclick: "return location.href = '#{blog_post_path(blog)}'" }
      %a{ href: blog_post_path(blog) }
        = image_tag blog.user.avatar.thumb
      %h4= blog.title
      %p
        != strip_tags blog.text.first(200)
        %b ...
      %small= blog.created_at
