.well
  - if market_dreams_during?
    %h4
      = t('.news_from_market_dreams')
  - else
    %h4
      = t('.news')
  - if admin_signed_in?
    = link_to t('.add_news'), new_admin_news_path, class: 'btn btn-info'
  - @news.each do |news|
    .well.link{ onclick: "return location.href = '#{news_path(news)}'" }
      %a{ href: news_path(news) }
        = image_tag news.photo.thumb, class: :main_photo_thumb
      %h4= news.title
      %p
        != strip_tags news.body.first(200)
        %b ...
      %small= news.pusblished_at
  = link_to t(".all_news"), news_index_path, class: 'btn'
  = render "users"
