%h1 Добрый день!
.text
  %span Областной конкурс актива учащейся молодёжи «Я-лидер!» - это не просто конкурс, а комплекс мероприятий, которые позволяют не только познакомиться, но и научиться технологиям лидерства.
  %br
  %span На разных площадках, организованных в рамках «Я-лидера!», конкурсанты учатся методам командообразования, планирования деятельности, технике публичных выступлений и управлению проектами, что позволяет полноценно готовить лидеров общественного сектора.
  %br
  %br
  .row
    .span6
      .center.youtube-video
        = youtube_video('http://www.youtube.com/watch?feature=player_embedded&v=Pfi7jvfaOBs', "100%")
    .span6
      - unless user_signed_in?
        %p{ align: :center }
          - if can_registred?
            %a{ href: new_user_path, class: 'btn btn-success btn-large' }
              = t('apply_for_participation_on_competition')
              %br
              = t('i_am_lider')
            %br
            %br
            Если ты уже подал заявку, то можешь зайти в свой аккаунт
            %br
            = link_to t('sign_in'), new_session_path, class: 'btn btn-primary'
          - else
            = t('.registration_ended')
            = link_to t('.if_you_are_participant'), new_session_path, class: 'btn btn-primary btn-large'
            = t('.forward_market_dream')
            = link_to t('.apply_participation_to_market_dream'), "http://www.ulmic.ru/programms/lider/3040--2014", class: 'btn btn-success btn-large'
