%h3
  Участники
  = @users_count
.row.top_row
  - if @users.blank?
    Список участников пуст.
    %br
    = link_to t('.be_the_first'), new_user_path, class: 'btn btn-success'
  - @users.each_slice(3).to_a.each do |user_triple|
    .triple
      .row
        - user_triple.each do |user|
          .span4.well.link{ onclick: "return location.href = '#{user_path(user)}'" }
            .row-fluid
              %img.mini_equal_size.img-rounded.small{ src: user.avatar.thumb_fill }
            .row-fluid
              .very_small_text= user.first_name
            .row-fluid
              .very_small_text_margin_top= user.middle_name
- unless @users.blank?
  .row
    %p{ align: :center }
      = link_to t('.view_competitors_list'), users_path, class: 'btn btn-primary'
