= stylesheet_link_tag "welcome"
.row-fluid
  .span8
    = render "text_about_lider"
    %hr
    .users
      = render "users"
  .span4
    = render "news"
    = render "blogs"
    = render "twitter_timeline"
