= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :goal
  = f.input :tasks
  = f.input :participant_category
  = f.input :description
  = f.input :begin_date
  = f.input :end_date
  = f.input :adress
  = f.input :latitude
  = f.input :longtitude
  = f.input :user_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn'
