= simple_form_for @news do |f|
  - if @news.errors.any?
    #error_explanation
      %h2= "#{pluralize(@news.errors.count, "error")} prohibited this news from being saved:"
      %ul
        - @news.errors.full_messages.each do |msg|
          %li= msg
  - f.with_options :input_html => {:class => "span6"} do |f|
    = f.input :title
    = f.label :body
    = f.cktext_area :body, :placeholder => "", :class => :span6, :rows => 3
    = f.label :pusblished_at
    = f.date_select :pusblished_at
    .actions
      = f.submit 'Сохранить', :class => "btn"
