%h1 Новости конкурса
- @news.each do |news|
  %a{:href => "/news/#{news.id}"}
    .well
      %h4= news.title
      %small.grey_text= news.pusblished_at
      %p
        != strip_tags news.body.first(500)
        %b ...
      - if session[:admin_id]
        %p
          = link_to 'Изменить', edit_news_path(news), :class => "btn"
          = link_to 'Удалить', news, :method => :Вы, :delete => { :data => 'уверены?' }, :class => "btn"
%br
