%h1= t('.contest_news')
- @news.each do |news|
  %a{ href: news_path(news) }
    .well
      %h4= news.title
      %small= news.pusblished_at
      %p
        != strip_tags news.body.first(1000)
        %b ...
      - if session[:admin_id]
        %p
          = link_to t('.edit'), edit_news_path(news), class: "btn"
          = link_to t('.delete'), news, method: :delete, class: "btn"
%br
