%h1 Новости конкурса
- @news.each do |news|
  %a{:href => "/news/#{news.id}"}
    .well
      %h4= news.title
      %small= news.pusblished_at
      %p
        != strip_tags news.body.first(500)
        %b ...
      %p
        = link_to 'Edit', edit_news_path(news)
        = link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
