%h1= t('.contest_news')
- @news.each do |news|
  .well{ onclick: "return location.href = '#{news_path(news)}'" }
    = image_tag news.photo.big_thumb, class: :main_photo_big_thumb
    %h4= news.title
    %small= news.pusblished_at
    %p
      != strip_tags news.body.first(400)
      %b ...
    - if admin_signed_in?
      %p
        = link_to t('.edit'), edit_admin_news_path(news), class: "btn"
        = link_to t('.delete'), news, method: :delete, class: "btn"
%br
