%p
  %h2= @news.title
%p
  %small= @news.pusblished_at
%p
  != @news.body
  = link_to '<- Новости', news_index_path, :class => "btn"
- if session[:admin_id]
  = link_to 'Изменить', edit_news_path(@news), :class => "btn"
