= simple_form_for @criterion, url: admin_criterions_path, html: { class: 'form-horizontal' } do |f|
  = f.input :title
  = f.input :stage_id
  = f.input :maximum
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_criterions_path, class: 'btn'
