= simple_form_for @stage, url: admin_stages_path, html: { class: 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_stages_path, class: 'btn'
