- model_class = Stage
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th=t '.actions', default: t("actions")
  %tbody
    - @stages.each do |stage|
      %tr
        %td
          = stage.title
        %td
          = link_to t('.view_jurors'), admin_jurors_path
          = link_to t('.add_juror'), new_admin_juror_path(stage), class: 'btn btn-success'
        %td
          = link_to t('.add_criterion'), new_admin_criterion_path(stage), class: 'btn btn-success'
        %td
          = link_to t('edit', default: t("helpers.links.edit")), edit_admin_stage_path(stage), class: 'btn btn-mini'
          = link_to t('destroy', default: t("helpers.links.destroy")), admin_stage_path(stage), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'

= link_to t('new', default: t("helpers.links.new")), new_admin_stage_path, class: 'btn btn-primary'
