= stylesheet_link_tag :stage
%p
  %h2= @stage.title
%p
  != @stage.description
  = link_to t('back'), admin_stages_path, class: "btn"
- if admin_signed_in?
  = link_to t('edit'), edit_admin_stage_path(@stage), class: "btn btn-info"
  = link_to t('delete'), admin_stage_path(@stage), method: :delete, class: "btn btn-info"
