= simple_form_for @report, url: { action: action, controller: "admin/reports" }, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: :span4 } do |f|
    = f.cktext_area :description
    %br
    = f.label :document
    = f.file_field :document
    = f.input :results
    - if @report.event_id
      = f.input :event_id, as: :hidden, input_html: { value: @report.event.user }
    - else
      = f.association :event, collection: events_without_reports
  .form-actions
    = f.button :submit, class: 'btn-primary'
