= simple_form_for @report, url: { controller: "admin/reports" }, html: { class: 'form-horizontal' } do |f|
  = f.input :description
  = f.input :document
  = f.input :results
  - if @report.event_id
    = f.input :event_id, as: :hidden, input_html: { value: @report.event.user }
  - else
    = f.association :event
  .form-actions
    = f.button :submit, class: 'btn-primary'
