= stylesheet_link_tag "participant/event/reports"

= simple_form_for @report, url: participant_event_report_path, html: { class: 'form-horizontal' } do |f|
  - if @report.errors.any?
    #error_explanation
      Были найдены ошибки в заполнении форм
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg
  - f.with_options input_html: { class: :span12 } do |f|
    -#FIXME сделать локализацию. При стандартном подходе возникают проблемы
    .text
      %h4
        Описание
      В данном разделе следует максимально подробно описать проведённое тобой мероприятие. Если есть сценарный план, то вставь его в это поле. Если есть видео, снятое на мероприятии, то его следует загрузить в социальную сеть (например, "Вконтакте", "Youtube"), а в данное поле вставить ссылку на страницу с видео
    = f.cktext_area :description
    .text
      %h4
        Результаты
      В данном разделе опиши результаты, которых тебе удалось добиться по итогам мероприятия. Результаты бывают двух видов:
      %ul
        %li количественные результаты: кол-во участников, кол-во привлечённых экспертов, кол-во привлечённых волонтёров, кол-во материалов, вышедших о твоём мероприятии в СМИ (если они были, то их нужно отсканировать и прикрепить с помощью формы "Приложить документы" или вставить ссылку на материал в данное поле), кол-во раздаточного материала и иные вещи, которые можно измерить количественно;
        %li качественные результаты - это качественные изменения, которые произошли ув районе или у участников мероприятий после твоего мероприятия. Например, если ты проводил игру, посвящённую конфликтологии, то можно написать "повысился уровень знаний учащихся школы-интерната о способах разрешения конфликтных ситуаций в микрогруппе" и т.п.
    = f.input :results, label: false
    .text
      %h4
        Приложение к отчёту
      Если у тебя есть отсканированные отзывы участников о мероприятия или отзывы образовательного учреждения, на базе которого его проводили, то документы можно загрузить с помощью кнопки "Приложить документы". Если ты хочешь загрузить одновременно несколько документов, то их следует заархивировать. Максимальный объём файла, допустимого для загрузки - 25 Мб
    = f.file_field :document, label: false
    = f.input :event_id, as: :hidden, input_html: { value: current_user.event.id }
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
