- model_class = Criterion
%h2
  = t('.criterions')
%table.table.table-stripped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:maximum)
      %th= t('activerecord.attributes.evaluation.value')
  - @criterions.each do |criterion|
    %tr
      %td
        = criterion.title
      %td
        = criterion.maximum
      %td
        = simple_form_for @evaluation, url: juror_evaluation_path, method: :post do |f|
          = f.input :value, label: false, input_html: { max: criterion.maximum, min: 0 }
          = f.submit
