= stylesheet_link_tag "users"
.page-header
  %h1
    = t('.title')
  = link_to t('.users_excel'), admin_users_path(format: :xls), class: 'btn btn-success'
= link_to t('.add_user'), new_admin_user_path, class: 'btn btn-info'
%table.table.table-striped.table-hover
  - @users.each do |user|
    %tr.link{ onclick: "return location.href = '#{admin_user_path(user)}'" }
      %td
        %img.img-polaroid{ src: user.avatar.mini_thumb_fill }
      %td
        = user.title
      %td
        = user.district.title
      %td
        = user.school
      %td
        - unless user.twitter.blank?
          %a{ href: user.twitter }
            .logo.mini.twitter
