= render 'office'
- if current_user || admin_signed_in?
  - if @user.report.nil?
    %a.btn.btn-large.btn-success{ href: new_report_path }
      = t('.create_report')
  - else
    %a.btn.btn-large.btn-success{ href: edit_report_path(@user.report) }
      = t('.edit_report')
  %a.btn.btn-large.btn-success{ href: edit_user_path(@user) }
    = t('.edit_user')
%hr
= render 'blogs'
