= simple_form_for @report do |f|
  - if @report.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report.errors.count, "error")} ошибок найдено при попытке сохранить изменения:"
      %ul
        - @report.errors.full_messages.each do |msg|
          %li= msg
  - f.with_options :input_html => {:class => "span6"} do |f|
    .field
      = f.input :member_type
      = f.input :member_count
      = f.input :venue
      = f.label :date
      = f.date_select :date
      %hr
      = f.label :archive
      = f.file_field :archive
    .actions
      = f.submit 'Сохранить', :class => "btn btn-large btn-success"
