%h1 Listing reports

%table
  %tr
    %th Member type
    %th Member count
    %th Venue
    %th Date
    %th
    %th
    %th

  - @reports.each do |report|
    %tr
      %td= report.member_type
      %td= report.member_count
      %td= report.venue
      %td= report.date

%br

= link_to 'New Report', new_report_path
