%script{src: "http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=true"}
  :cdata
%script{src: "https://dl.dropboxusercontent.com/u/44188862/ScriptFiles/geoMarker.js", type: "text/javascript"}
  :cdata
/ End of custom Script
%script{src: "http://cdn.jotfor.ms/static/jotform.js?3.1.774", type: "text/javascript"}
:javascript
  JotForm.init(function(){
     $('input_3').hint('ex: myname@example.com');
  });
%link{href: "http://cdn.jotfor.ms/static/formCss.css?3.1.774", rel: "stylesheet", type: "text/css"}/
%link{href: "http://cdn.jotfor.ms/css/styles/nova.css?3.1.774", rel: "stylesheet", type: "text/css"}/
%link{href: "http://cdn.jotfor.ms/css/printForm.css?3.1.774", media: "print", rel: "stylesheet", type: "text/css"}/
:css
  .form-label{
          width:150px !important;
      }
      .form-label-left{
          width:150px !important;
      }
      .form-line{
          padding-top:12px;
          padding-bottom:12px;
      }
      .form-label-right{
          width:150px !important;
      }
      .form-all{
          width:690px;
          color:#555 !important;
          font-family:'Lucida Grande';
          font-size:14px;
      }
      .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
          color:#555;
      }

      /* Injected CSS Code */
  .form-line-active{
  color:black;
  }
  .form-all
  {
  margin-left: 0px;
  }
:javascript
    document.getElementById("si" + "mple" + "_spc").value = "31324630345445-31324630345445";
    %input#input_15.form-hidden{name: "q15_geolocation", type: "hidden", value: ""}/
= simple_form_for @event, url: participant_event_path, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :title, as: :string, placeholder: t('.not_more_than_140_characters')
    = f.input :goal, as: :string
    = f.input :tasks
    = f.input :participant_category, placeholder: t('.please_describe_participant_category')
    = f.input :description, placeholder: t('.not_more_than_1000_characters')
    = f.input :begin_date
    = f.input :end_date
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
    %br
    = t('.mark_your_location_on_the_map')
    #googleMap{style: "width: 50%; height: 527px; background: #5A8E4A;"}
      Map
    = f.input :adress, as: :hidden, input_html: { class: 'form-hidden', id: "input_15" }
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
