= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=true&language=ru"
= javascript_include_tag "google_maps_archive/geoMarker"
= stylesheet_link_tag "participant/events"

= simple_form_for @event, url: participant_event_path, html: { class: 'form-horizontal' } do |f|
  - f.with_options input_html: { class: :span6 } do |f|
    = f.input :title, as: :string, placeholder: t('.not_more_than_140_characters')
    = f.input :goal, as: :string
    = f.input :tasks
    = f.input :participant_category, placeholder: t('.please_describe_participant_category')
    = f.input :description, placeholder: t('.not_more_than_1000_characters')
    = f.input :begin_date
    = f.input :end_date
    = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
    = f.input :adress, as: :string
    %br
    %h3
      = t('.mark_your_location_on_the_map')
    - if @event.coordinates.present?
      :javascript
        initMyCenter(#{@event.latitude}, #{@event.longitude});
    #googleMap.google_map_style
      Map

    = f.input :coordinates, as: :hidden, input_html: { class: 'form-hidden', id: "input_map" }
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
