.row-fluid
  .span4
    .text-center
      %h3= t('.organizers')
    .logo.mic
      %a{ href: "http://ulmic.ru", target: "_blank" }
  .span7
    .text-center
      %h3= t('.partners')
      .span6
        %a{ href: "http://minobr.ulgov.ru", target: "_blank" }
          = image_tag "logo-gov.png", style: "width: 100px"
          %br
          %small
            Министерство образования и науки Ульяновской области
      .span5
        %a{ href: "http://hh.ru", target: "_blank" }
          = image_tag "head-hunter.png", style: "width: 150px"

.row-fluid
  %hr
  .offset2
  .span4
    %a &copy
    = copyright_notice_year_range(2013)
    %a{ href: "http://ulmic.ru" }
      = t('.youth_initiative_centre')
    %br
    %small
      = t('.this_project_develop_by_programmers_of_ulmic')
    %br
    %small
      %a{ href: "http://github.com/ulmic/i_am_the_lider", target: "_blank" }
        = t('.this_project_on_the_Github')
    |
    %small
      %a{ href: "http://vk.com/ugosever", target: "_blank" }
        = t('.designer_page')
  .span2
    %a{ href: configus.apps.chrome_web_store_url, target: "_blank" }
      = image_tag "app_markets/chrome_web_store.png"
  .span5.mini-logos
    .logo.mini.vk
      %a{ href: "http://vk.com/ulmic", target: "_blank" }
    .logo.mini.facebook
      %a{ href: "https://www.facebook.com/molcenter", target: "_blank" }
    .logo.mini.twitter
      %a{ href: "https://twitter.com/ulmicru", target: "_blank" }
    .logo.mini.gplus
      %a{ href: "https://plus.google.com/109518417712111969312/", target: "_blank" }
    .logo.mini.youtube
      %a{ href: "http://www.youtube.com/user/ulmic73", target: "_blank" }
    .logo.mini.github
      %a{ href: "https://github.com/ulmic", target: "_blank" }
