.row-fluid
  .span4
    .row
      .text-center
        %h3= t('.organizers')
      .logo.mic
        %a{ href: "http://ulmic.ru" }
  .span6
    .center_text_align
      %h3= t('.partners')
      .span6
        %a{ href: "http://minobr.ulgov.ru" }
          = image_tag "logo-gov.png", style: "width: 100px"
          %br
          %small
            Министерство образования и науки Ульяновской области
      .span5
        %a{ href: "http://hh.ru" }
          = image_tag "head-hunter.png", style: "width: 150px"

.row
  .offset2
  .span4
    %hr
    %a &copy
    = copyright_notice_year_range(2013)
    %a{ href: "http://ulmic.ru" }
      = t('.youth_initiative_centre')
    %br
    %small
      = t('.this_project_develop_by_programmers_of_ulmic')
    %br
    %small
      %a{ href: "http://github.com/ulmic/i_am_the_lider" }
        = t('.this_project_on_the_Github')
  .span6.mini-logos
    .logo.mini.vk.there_is_margin
      %a{ href: "http://vk.com/ulmic" }
    .logo.mini.facebook.there_is_margin
      %a{ href: "https://www.facebook.com/molcenter" }
    .logo.mini.twitter.there_is_margin
      %a{ href: "https://twitter.com/ulmicru" }
    .logo.mini.gplus.there_is_margin
      %a{ href: "https://plus.google.com/109518417712111969312/" }
    .logo.mini.youtube.there_is_margin
      %a{ href: "http://www.youtube.com/user/ulmic73" }
    .logo.mini.github.there_is_margin
      %a{ href: "https://github.com/ulmic" }
