%html
%head
  %title= t(".i_am_lider")
  = stylesheet_link_tag    "bootstrap_and_overrides"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = favicon_link_tag 'favicon.ico'
  = csrf_meta_tags
%body
  %script{ type: "text/javascript" }
    refrm();
  %noscript
    %a{ href: "http://reformal.ru" }
      %img{ src: "http://media.reformal.ru/reformal.png" }
    %a{ href: "http://lider_ulgood.reformal.ru" }
      = t('.reformal_message')
  .container-fluid
    .row-fluid.header
      %a{ href: root_path }
        .span4.offset3.description
          =t('.learning_youth_contest')
        .span12.font-logo
          %h4= t('.i_am_lider')
      .text-center
        %ul.nav.nav-pills
          %li
            %a{ href: root_path }
              %h3= t('.home')
          - if user_signed_in?
            %li
              %a{ href: user_path(current_user) }
                %h3= t('.i_am_participant')
          - else
            %li
              %a{ href: new_user_path }
                %h3= t('apply_for_participation')
          %li
            %a{ href: users_path }
              %h3= t('.participants')
          %li
            %a{ href: competition_welcome_path }
              %h3= t('.competition')
          %li
            %a{ href: '/news' }
              %h3= t('.contest_news')
          %li
            %a{ href: first_stage_welcome_path }
              %h3= t('.stages')
          - if admin_signed_in?
            %li
              %a{ href: admin_welcome_index_path }
                %h3= t('.admin_home')
    .row-fluid
      .span12.content
        = flash_messages :close
        = yield
    .row-fluid.footer
      = render 'layouts/footer'
